<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/generalize.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    {% if prism %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism.css"/>
    {% endif %}
  </head>
  <body>
    {% include "./partials/navigation.html" %}
    {{ content | safe }}
    <a class="button" href="/">Back to Blog</a>
    {% include "./partials/footer.html" %}
  </body>
</html>