body {
    margin: 1em auto;
    max-width: 40em;
    color: #444;
    padding: 6px;
    font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  }
  
  header {
    text-align: center;
    padding-bottom: 1em;
  }
  
  a.button {
    border: 1px solid black;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.5em;
    display: inline-flex;
  }

  a.no-decoration {
    text-decoration: none;
    color: black;
  }
  
  .social-links > a {
    margin: 1em;
  }
  
  a:hover {
    font-weight: bold;
  }
  
  article,
  article > p {
    padding-bottom: 0.5em;
  }
  
  section {
    box-sizing: border-box;
  }
  
  section {
    border-top: 1px solid #ccc;
  }
  
  footer { 
    border-top: 1px solid #ccc;
    margin-top: 1em;
  }

  h1 {
    text-align: center;
  }

  h1.blog-title {
    margin-bottom: 0px;
  }

  .attribution {
    margin-top: 0;
    text-align: center;
  }