<main>
    <section>
      <h2>Welcome to my website!</h2>
      <p>
        I've been a tech lead, a full-stack web developer (C# back-end, microservices, Angular front-end), worked with Angular, Vue, React and more recently Lit. If my website looks a little plain with that resume it's because I want to limit the footprint of my website as much as possible. That aside, I hope you enjoy my blog posts below and you are welcome to message me on <a target="_blank" class="inline-link" href="https://www.linkedin.com/in/brianferry1/">LinkedIn</a>.
      </p>
    </section>
  </main>